.task-list {
  .task-cell {
    position: relative;
    width: 100%;
    font-size: @font-size-xs;
    padding: 3px 5px;
    border-radius: @border-radius-base;
    margin-bottom: 5px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.add-task-icon {
  position: relative;
}
